* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/*PRIMARY COLORS*/

$pimary-light-red: hsl(356, 100%, 66%);
$pimary-light-red-hover: hsl(355, 100%, 74%);
$primary-headings-blue: hsl(208, 49%, 24%);

/*NEUTRAL COLORS*/
$text-white: hsl(0, 0%, 100%);
$footer-text: hsl(240, 2%, 79%);
$vdark-grayish-blue: hsl(207, 13%, 34%);
$footer-bg: hsl(240, 10%, 16%);

/*NAV COLORS*/

$nav-very-light-red: linear-gradient(
  90deg,
  rgb(255, 143, 112),
  rgb(255, 61, 84)
);

/*BODY COLORS*/

$body-darkgray-blue: hsl(237, 17%, 21%);
$body-darkdesaturated-blue: hsl(237, 23%, 32%);

body {
  font-size: 16px;
}
#mobile {
  display: none;
}
p {
  line-height: 25px;
}

header {
  background-image: $nav-very-light-red;
  border-radius: 0 0 0 100px;
  z-index: 1;
  margin: auto;
  button {
    color: $text-white;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background: none;
  }
  button:hover {
    cursor: pointer;
    color: $pimary-light-red-hover;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .nav-img-container {
    position: relative;
    z-index: -1;
    #nav-bg-img {
      position: fixed;
      top: -800px;
      right: -100px;
      width: 100%;
      z-index: 1;
    }
  }
  nav {
    display: flex;
    padding: 100px;
    .left-part {
      display: flex;
      width: 80%;
      align-items: center;
      .links {
        padding: 0 100px;
        img {
          padding: 0 10px;
        }

        ul {
          display: flex;
          list-style: none;
          li {
            position: relative;
            margin: 0 50px;
            padding: 10px;
            cursor: pointer;
            a {
              text-decoration: none;
              color: $text-white;
            }
            .menu {
              display: none;
              position: absolute;
              background: $text-white;
              margin-top: 20px;
              border-radius: 5px;
            }
          }

          li:hover {
            .menu {
              display: flex;
              flex-direction: column;
              ul {
                padding: 10px;
                list-style: none;
                flex-direction: column;
                li {
                  padding: 10px 0;
                  a {
                    color: $vdark-grayish-blue;
                  }
                  a:hover {
                    color: black;
                  }
                }
              }
            }
            img {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    .log-buttons-container {
    }
  }
  .title {
    color: $text-white;
    text-align: center;
    h1 {
      font-weight: 600;
    }
    p {
      padding: 20px 0;
    }
    .title-buttons-container {
      padding: 100px 0;
    }
  }
}
main {
  z-index: 2;
  background-color: #fff;
  .design-section {
    display: flex;
    flex-direction: column;
    .design-section-title {
      text-align: center;
      margin: 100px;
      font-weight: 300;
      font-size: 30px;
    }
    .content-container {
      display: flex;
      width: 100%;
      .text-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        h3 {
          padding: 20px;
        }
        p {
          padding: 20px;
          max-width: 55ch;
        }
      }
      .image-container {
        display: flex;
        width: 50%;
        height: 1000px;
        position: relative;
        overflow: hidden;
        justify-content: center;
        top: -150px;
        img {
          position: absolute;
          right: -300px;
        }
      }
    }
  }

  .art-infrastructure-section {
    background-color: $body-darkgray-blue;
    border-radius: 0 100px 0 100px;
    display: flex;
    justify-content: flex-end;
    .image-container {
      position: relative;
      width: 30%;
      img {
        position: absolute;
      }
      #phone {
        top: -70px;
        z-index: 2;
      }
      .circles {
        position: absolute;
        width: 1000px;
        height: 425px;
        z-index: 1;
        overflow: hidden;
        left: -250px;
        border-radius: 0 0 0 50%;
        .image-circle {
          position: relative;
          width: 30%;

          #circles {
            position: absolute;
            left: -100px;

            top: -500px;
          }
        }
      }
    }
    .text-container {
      padding: 130px;
      color: $text-white;
      width: 40%;
      z-index: 2;
      h2 {
        padding: 20px;
      }
      p {
        padding: 0 20px;
        width: 56ch;
      }
    }
  }
  .laptop-section {
    display: flex;
    background-color: $text-white;
    margin-top: 150px;
    position: relative;
    .image-container {
      width: 50%;
      height: auto;
      img {
        position: absolute;
        left: -270px;
      }
    }
    .text-container {
      padding: 150px;
      width: 40%;
      margin-top: 70px;
      h3 {
        padding: 30px 50px;
      }
      p {
        padding: 0 50px;
        width: 57ch;
      }
    }
  }
}
footer {
  background-color: $footer-bg;
  color: $text-white;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  .container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    color: $text-white;
    position: relative;
    img {
      position: absolute;
      width: 100px;
      margin: auto;
      top: 50px;
      left: 50%;
      transform: translate(-50%);
    }
    h4 {
      padding-bottom: 20px;
    }
    ul {
      li {
        list-style: none;
        padding-top: 10px;

        a {
          text-decoration: none;
          color: $footer-text;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
