* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

/*PRIMARY COLORS*/
/*NEUTRAL COLORS*/
/*NAV COLORS*/
/*BODY COLORS*/
body {
  font-size: 16px;
}

#mobile {
  display: none;
}

p {
  line-height: 25px;
}

header {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(90deg, #ff8f70, #ff3d54);
  border-radius: 0 0 0 100px;
  z-index: 1;
  margin: auto;
}

header button {
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background: none;
}

header button:hover {
  cursor: pointer;
  color: #ff7a85;
  background-color: rgba(255, 255, 255, 0.7);
}

header .nav-img-container {
  position: relative;
  z-index: -1;
}

header .nav-img-container #nav-bg-img {
  position: fixed;
  top: -800px;
  right: -100px;
  width: 100%;
  z-index: 1;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
}

header nav .left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .left-part .links {
  padding: 0 100px;
}

header nav .left-part .links img {
  padding: 0 10px;
}

header nav .left-part .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header nav .left-part .links ul li {
  position: relative;
  margin: 0 50px;
  padding: 10px;
  cursor: pointer;
}

header nav .left-part .links ul li a {
  text-decoration: none;
  color: white;
}

header nav .left-part .links ul li .menu {
  display: none;
  position: absolute;
  background: white;
  margin-top: 20px;
  border-radius: 5px;
}

header nav .left-part .links ul li:hover .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .left-part .links ul li:hover .menu ul {
  padding: 10px;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .left-part .links ul li:hover .menu ul li {
  padding: 10px 0;
}

header nav .left-part .links ul li:hover .menu ul li a {
  color: #4b5862;
}

header nav .left-part .links ul li:hover .menu ul li a:hover {
  color: black;
}

header nav .left-part .links ul li:hover img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .title {
  color: white;
  text-align: center;
}

header .title h1 {
  font-weight: 600;
}

header .title p {
  padding: 20px 0;
}

header .title .title-buttons-container {
  padding: 100px 0;
}

main {
  z-index: 2;
  background-color: #fff;
}

main .design-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .design-section .design-section-title {
  text-align: center;
  margin: 100px;
  font-weight: 300;
  font-size: 30px;
}

main .design-section .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .design-section .content-container .text-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
}

main .design-section .content-container .text-container h3 {
  padding: 20px;
}

main .design-section .content-container .text-container p {
  padding: 20px;
  max-width: 55ch;
}

main .design-section .content-container .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 1000px;
  position: relative;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -150px;
}

main .design-section .content-container .image-container img {
  position: absolute;
  right: -300px;
}

main .art-infrastructure-section {
  background-color: #2c2d3f;
  border-radius: 0 100px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .art-infrastructure-section .image-container {
  position: relative;
  width: 30%;
}

main .art-infrastructure-section .image-container img {
  position: absolute;
}

main .art-infrastructure-section .image-container #phone {
  top: -70px;
  z-index: 2;
}

main .art-infrastructure-section .image-container .circles {
  position: absolute;
  width: 1000px;
  height: 425px;
  z-index: 1;
  overflow: hidden;
  left: -250px;
  border-radius: 0 0 0 50%;
}

main .art-infrastructure-section .image-container .circles .image-circle {
  position: relative;
  width: 30%;
}

main .art-infrastructure-section .image-container .circles .image-circle #circles {
  position: absolute;
  left: -100px;
  top: -500px;
}

main .art-infrastructure-section .text-container {
  padding: 130px;
  color: white;
  width: 40%;
  z-index: 2;
}

main .art-infrastructure-section .text-container h2 {
  padding: 20px;
}

main .art-infrastructure-section .text-container p {
  padding: 0 20px;
  width: 56ch;
}

main .laptop-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  margin-top: 150px;
  position: relative;
}

main .laptop-section .image-container {
  width: 50%;
  height: auto;
}

main .laptop-section .image-container img {
  position: absolute;
  left: -270px;
}

main .laptop-section .text-container {
  padding: 150px;
  width: 40%;
  margin-top: 70px;
}

main .laptop-section .text-container h3 {
  padding: 30px 50px;
}

main .laptop-section .text-container p {
  padding: 0 50px;
  width: 57ch;
}

footer {
  background-color: #25252d;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: relative;
}

footer .container img {
  position: absolute;
  width: 100px;
  margin: auto;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

footer .container h4 {
  padding-bottom: 20px;
}

footer .container ul li {
  list-style: none;
  padding-top: 10px;
}

footer .container ul li a {
  text-decoration: none;
  color: #c8c8cb;
}

footer .container ul li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=desktop.css.map */